<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script type="text/javascript" th:inline="javascript" th:src="@{static/js/home.js}"></script>
</head>
<body>

<header>
    <div class="header-container">
        <button class="header-button hamburger-button">
            <i class="fas fa-bars"></i>
        </button>
        <button href="#" th:href="@{/}"  class="header-button">
            <i class="fas fa-home"></i>
        </button>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search for events...">
            <button class="find-button">Find</button>
        </div>
        <div id="loggedIn"></div>
        <button href="#" th:href="@{/signin.html}" class="header-button">Sign In</button>
        <button href="#" th:href="@{/signup.html}" class="header-button">Sign Up</button>
    </div>
    <div class="menu-container">
        <nav class="menu">
            <a href="#" th:href="@{/user-events.html}"  class="menu-item">My Events</a>
            <a href="#" th:href="@{/event-list.html}"  class="menu-item">Event List</a>
            <a href="#" th:href="@{/create-event.html}"  class="menu-item">Create an Event</a>
        </nav>
    </div>
</header>
<main>
    <h1 class="title">Website for Events</h1>
</main>
</body>
</html>
