<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<header>
    <div class="header-container">
        <a th:href="@{/}" class="header-button">
            <i class="fas fa-home"></i>
        </a>
        <a th:href="@{/user-events}" class="header-button">My Events</a>
        <a th:href="@{/event}" class="header-button">Event List</a>
        <a th:href="@{/event/create}" class="header-button">Create an Event</a>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search for events...">
            <button class="find-button">Find</button>
        </div>
        <div id="loggedIn"></div>
        <a th:href="@{/signin}" class="header-button">Sign In</a>
        <a th:href="@{/signup}" class="header-button">Sign Up</a>
    </div>
</header>
<div class="title-div">
    <h1 class="title">Website for Events</h1>
</div>


<script type="text/javascript" th:inline="javascript" th:src="@{/js/home.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>
